torch>=2.0
torchvision
numpy
regex
ftfy
tqdm
huggingface_hub
safetensors
timm>=1.0.17
webdataset>=0.2.5,<=0.2.86
pandas
braceexpand
transformers[sentencepiece]
fsspec
wandb
numba
matplotlib
Pillow
nltk
requests
